# ==========================================
# Environment Variables
# ==========================================
.env
.env.*
!.env.example

# ==========================================
# Python
# ==========================================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
sidekick_env/
venv/
.venv/

# Python Tool Caches
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/